<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/dist/output.css" rel="stylesheet">
  </head>
  <body class="bg-white box-border relative">
    <% @images_per_page = [1,2,3,4,5,6,7,8,9,10,11,6,12,13,14,15,16].each_slice(5) %>
    <p class="flex justify-center h-[54px]">
      <audio controls id="song" class="w-[500px]">
        <source src="assets/love_me_like_that.mp3" type="audio/mpeg">
        Your browser does not support the audio tag.
      </audio>
    </p>
    <div class="page-container relative h-[calc(100vh-54px)] max-w-screen min-w-screen overflow-hidden">
      <div class="pages flex absolute left-0 duration-150" id="pages">
        <% @images_per_page.each_slice(2).with_index do |(left, right), page| %>
          <div class="page flex relative" id="page<%= page %>">
            <div class="left flex flex-col p-8 justify-start items-center relative h-[calc(100vh-54px)] w-[50vw] m-auto">
              <% left&.each do |i| %>
                <img src="images/<%= i %>.png" alt="<%= i %>.png" class="inline-block">
              <% end %>
            </div>
            <div class="bg-slate-800 w-1"></div>
            <div class="right flex flex-col p-8 justify-start items-center relative h-[calc(100vh-54px)] w-[50vw] m-auto">
              <% right&.each do |i| %>
                <img src="images/<%= i %>.png" alt="<%= i %>.png" class="inline-block">
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <script>
      let currentPage = 0;
      let lastPage = document.querySelectorAll(".page").length;
      console.log('currentPage', currentPage, 'lastPage', lastPage);
      function move(direction) {
        let innerPages = document.getElementById("pages");
        let delta = window.screen.width;
        if (direction === "left" && currentPage < lastPage - 1) {
          delta *= -1;
          currentPage += 1
        } else if (direction === "right" && currentPage > 0) {
          currentPage -= 1
        } else {
          return;
        }
        let newLeft = Number(innerPages.style.left.replace(/px/, '') ) + delta;
        innerPages.style.left = `${newLeft}px`
      }

      let lefts = document.getElementsByClassName('left');
      for(let i = 1 ; i < lefts.length ; i++) {
        lefts[i].addEventListener('click', () => move("right"))
      }

      let rights = document.getElementsByClassName('right');
      for(let i = 0 ;i < rights.length-1 ; i++) {
        rights[i].addEventListener('click', () => move("left"))
      }

      document.addEventListener('keydown', (event) => {
        let song = document.getElementById('song');
        switch(event.code) {
          case "Space": {
            if (event.code === "Space" && document.activeElement !== song) {
              if (song.paused) {
                song.play();
              } else {
                song.pause();
              }
            }
          }
            break;
          case "ArrowLeft": {
            if(document.activeElement !== song) move("right")
          }
            break;
          case "ArrowRight":{
            if(document.activeElement !== song) move("left")
          }
            break;
          case "ArrowUp": {
            song.focus();
          }
            break;
          case "ArrowDown":{
            song.blur();
          }
            break;
          default:
            console.log(event.code)

        }
      })
    </script>
  </body>
</html>
